.concert-details-schedule {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.book-now-btn {
  text-decoration: none;
  color: #262b34;
  font-weight: 700;
  float: right;
  padding: 4px 15px;
  border-radius: 25px;
  outline: 3px solid white;
  transition: all ease-in-out 300ms;
}

.book-now-btn::after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background: #f2a7d1;
  position: relative;
  bottom: -1px;
}

.book-now-btn:hover {
  color: white;
  background-color: #f2a7d1;
  outline: 2px solid #21c9e1;
  outline-offset: 2px;
}

@media (max-width: 760px) {
  .book-now-btn {
    color: white;
    background-color: #f2a7d1;
    outline: 2px solid #21c9e1;
    outline-offset: 2px;
  }
}
