@media (max-width: 580px) {
  #loginModal {
    width: 90vw;
    padding-left: 7vw;
    padding-right: 0;
  }
}
.user-login-modal {
  background: linear-gradient(
    135deg,
    rgba(38, 43, 52, 0.9),
    rgba(38, 43, 52, 1)
  );
  backdrop-filter: blur(10px) !important;
  -webkit-backdrop-filter: blur(10px);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.modal-header {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: 700;
  background: linear-gradient(
    135deg,
    rgba(38, 43, 52, 0.9),
    rgba(38, 43, 52, 1)
  ) !important;
}

.card-body > h3 {
  color: transparent;
  text-transform: uppercase;
  font-weight: 700;
}

label {
  font-weight: 500;
  text-shadow: 3px 3px 3px 3px black;
}

@media (max-width: 500px) {
  .card {
    width: 80vw;
  }
}
.btn-close {
  color: aliceblue;
}
