input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="checkbox"] {
  cursor: pointer;
}

@media (max-width: 580px) {
  #registerModalLabel {
    width: 90vw !important;
    padding-left: 7vw;
    padding-right: 0;
  }
}
