.loader {
  position: relative;
  width: 120px;
  height: 50px;
  background-repeat: no-repeat;
  background-image: linear-gradient(#262b34 50px, transparent 0),
    linear-gradient(#6c4ebd 50px, transparent 0),
    linear-gradient(#f2a7d1 50px, transparent 0),
    linear-gradient(#21c9e1 50px, transparent 0),
    linear-gradient(#21c9e1 50px, transparent 0),
    linear-gradient(#f2a7d1 50px, transparent 0),
    linear-gradient(#6c4ebd 50px, transparent 0),
    linear-gradient(#262b34 50px, transparent 0);
  background-position: 0px center, 15px center, 30px center, 45px center,
    60px center, 75px center, 90px center, 105px center, 120px center;
  animation: rikSpikeRoll 0.65s linear infinite alternate;
}
@keyframes rikSpikeRoll {
  0% {
    background-size: 10px 3px;
  }
  12% {
    background-size: 10px 50px, 10px 3px, 10px 3px, 10px 3px, 10px 3px, 10px 3px,
      10px 3px, 10px 3px;
  }
  25% {
    background-size: 10px 30px, 10px 50px, 10px 3px, 10px 3px, 10px 3px,
      10px 3px, 10px 3px, 10px 3px;
  }
  36% {
    background-size: 10px 10px, 10px 30px, 10px 50px, 10px 3px, 10px 3px,
      10px 3px, 10px 3px, 10px 3px;
  }
  49% {
    background-size: 10px 3px, 10px 10px, 10px 30px, 10px 50px, 10px 3px,
      10px 3px, 10px 3px, 10px 3px;
  }
  60% {
    background-size: 10px 3px, 10px 3px, 10px 10px, 10px 30px, 10px 50px,
      10px 3px, 10px 3px, 10px 3px;
  }
  73% {
    background-size: 10px 3px, 10px 3px, 10px 3px, 10px 10px, 10px 30px,
      10px 50px, 10px 3px, 10px 3px;
  }
  84% {
    background-size: 10px 3px, 10px 3px, 10px 3px, 10px 3px, 10px 10px,
      10px 30px, 10px 50px, 10px 3px;
  }
  100% {
    background-size: 10px 3px, 10px 3px, 10px 3px, 10px 3px, 10px 3px, 10px 10px,
      10px 30px, 10px 50px;
  }
}

/* @keyframes loading-bars {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.loading-bars div {
  position: absolute;
  width: 26.099999999999998px;
  height: 104.39999999999999px;
  top: 78.3px;
  animation: loading-bars 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
.loading-bars div:nth-child(1) {
  transform: translate(39.15px, 0);
  background: #262b34;
  animation-delay: -0.6s;
}
.loading-bars div:nth-child(2) {
  transform: translate(91.35px, 0);
  background: #f2a7d1;
  animation-delay: -0.4s;
}
.loading-bars div:nth-child(3) {
  transform: translate(143.54999999999998px, 0);
  background: #21c9e1;
  animation-delay: -0.2s;
}
.loading-bars div:nth-child(4) {
  transform: translate(195.75px, 0);
  background: #6c4ebd;
  animation-delay: -1s;
}
.loading-spinner-bars {
  width: 261px;
  height: 261px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.loading-bars {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; 
}
.loading-bars div {
  box-sizing: content-box;
} */
