/* header {
  z-index: 1000;
} */

.navbar {
  padding-bottom: 0 !important;
}

.navbar-brand {
  height: 13em;
  overflow: hidden;
  background-color: white;
}

.navbar-brand:before {
  content: "";
  display: block;
  position: relative;
  margin: 0 0;
  top: -188%;
  left: -18%;
  height: 219%;
  width: 200vw;
  background: #6c4ebd;
  box-shadow: 0px 8px 0px #262b34;
  transform: rotateZ(-6deg) skew(-6deg);
}

.navbar-brand .logo {
  position: absolute;
  top: 30px;
  left: 50px;
  padding: 0;
  margin: 0;
}

.navbar-brand .logo img {
  width: 300px;
}

#offcanvasNavbar {
  position: absolute;
  margin-right: 8%;
  margin-top: 200px;
  margin-bottom: 0;
  background-color: #262b34;
}

.navbar-nav {
  gap: 50px;
}

.navbar-toggler {
  z-index: 10;
  padding: 8px 10px !important;
  margin-top: -25vh;
  margin-left: 80vw;
  border: 3px solid #f2a7d1 !important;
  outline: 3px solid #21c9e1 !important;
  outline-offset: 3px !important;
  color: #262b34 !important;
}

.active {
  background-color: #f2a7d1;
  color: white !important;
  outline: 3px solid #21c9e1;
  outline-offset: 4px;
}

.nav-item > .nav-link {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  border-radius: 25px;
  padding: 6px 25px !important;
  transition: all ease-in-out 300ms;
}
.navy-item > .nav-link {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  border-radius: 25px;
  padding: 6px 25px !important;
  transition: all ease-in-out 300ms;
  color: #262b34;
}
.navy-item > .nav-link:hover {
  color: #262b34;
  background-color: #f2a7d1;
  outline: 3px solid #21c9e1;
  outline-offset: 4px;
}

.nav-item > .nav-link:hover {
  color: white;
  background-color: #f2a7d1;
  outline: 3px solid #21c9e1;
  outline-offset: 4px;
}

.nav-item > #login-btn {
  cursor: pointer;
}

@media (max-width: 700px) {
  .navbar-nav {
    gap: 40px !important;
  }

  .navbar-brand {
    height: 8em;
    overflow: hidden;
  }

  .navbar-brand:before {
    top: -165%;
    left: -18%;
  }

  .navbar-brand .logo {
    top: 10px;
    left: 20px;
    padding: 0;
    margin: 0;
  }

  .navbar-brand .logo img {
    width: 38%;
  }

  .nav-item > .nav-link {
    color: white !important;
  }

  #offcanvasNavbar {
    margin-top: 0px;
    height: 100vh;
    margin-right: 0;
    text-align: center;
    align-self: self-end;
  }

  .close-btn {
    color: white;
    background-color: transparent;
    border-radius: 5px;
    border: 3px solid #f2a7d1;
    outline: 3px solid #21c9e1;
    outline-offset: 3px;
    padding: 5px 5px;
    margin-right: 5px;
  }

  .offcanvas-title {
    text-transform: uppercase;
    margin-left: 5.5vw;
    margin-right: auto;
    color: white;
  }

  .offcanvas-header > img {
    height: 7vh;
  }
}
.nav-item {
  color: #262b34;
  text-decoration: none;
}
