.admin-table {
  overflow-y: scroll;
  height: 77vh;
  width: 100%;
}

table {
  border-collapse: collapse;
}
thead > tr > th {
  position: sticky;
  top: 0;
}

tfoot > tr > th {
  position: sticky;
  bottom: 0;
}
.users-table-wrapper {
  padding: 0 !important;
}

.users-table-container {
  height: calc(100vh - 80px);
  width: 83.3vw;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
.admin-table {
  scrollbar-width: auto;
  scrollbar-color: #212529 rgba(255, 255, 255, 0.18);
}

/* Chrome, Edge, and Safari */
.admin-table::-webkit-scrollbar {
  width: 16px;
}

.admin-table::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.18);
}

.admin-table::-webkit-scrollbar-thumb {
  background-color: #212529;
  border-radius: 10px;
  border: 3px double #ffffff;
}

.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
  color: black !important;
  background-color: gray !important;
}

.btn-group > .btn-group:not(:last-child) > .btn,
.btn-group > .btn.dropdown-toggle-split:first-child,
.btn-group > .btn:not(:last-child):not(.dropdown-toggle),
.btn-group > .btn-group:not(:first-child) > .btn,
.btn-group > .btn:nth-child(n + 3),
.btn-group > :not(.btn-check) + .btn {
  border-radius: 10px !important;
  margin: 5px 5px;
  background-color: #262b34 !important;
}

@media (max-width: 560px) {
  #search-form {
    width: 60vw;
  }

  .search-concert {
    width: 40vw !important;
  }
}
